
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&family=Lexend:wght@100..900&display=swap');
@font-face {
    font-family: 'Monument';
    src: url(resources/MonumentExtended-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

 body{
    background: #212332;
    overflow-x: hidden !important;
    width: 100vw;
 }


 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem !important;
    border-radius: 3.5rem;
    border: 2px solid rgba(212, 212, 212, 0.664);
    width: 85%;
    margin-top: 4rem !important;
    margin: 0 auto;
    margin-bottom: 4rem;
    border: 2px solid rgba(173, 173, 173, 0.11);
    background: #cacaca0a;  
    backdrop-filter: blur(2px); 
 }

 nav a{
    color: white;
    text-decoration: none;
 }
 nav .logo a{
    font-family: 'Preahvihear';
    font-size: 2rem;
    color: #FD853A;
 }

 .nav-links{
    display: flex;
    gap: 1.88rem;
 }
 .hide-content{

 }
 .reveal-content{
    display: none;
 }

section .hero{
    width: 63.875rem;
    border: white 1px solid;
    margin: 0 auto;
    background: url(resources/icons/bg_top.png) !important;

}
section{
    overflow-x: hidden;
}
section , footer{
    padding: 0 4rem !important;
    z-index: 10 !important;
}

.vector{
    z-index: -1;
    position: absolute;
    width: 100vw;
    opacity: 0.4;
    height: fit-content;
    padding: 0 !important;
    overflow-x: hidden;
}
.vector img{
    opacity: .9;
    width: 100vw;
}
.top-svg{
    bottom: 4rem;
    height: 4rem;
}




.hero{
    background-image: url(resources/icons/bg_top.png) !important ;
    background-size: cover;
}
.hero-text{
    margin-bottom: 2rem;
}

.hero-text h1{
    text-align: center;
    font-family: 'Poppins'!important;
    font-size: 5rem;
    font-weight: 600;
    line-height: 5.3125rem; 
    letter-spacing: -0.3rem;
    color: white;
    }

.hero-text h1 span{
    background: linear-gradient(95deg, #52A2F7 , #8E32EA );
    font-family: 'Poppins';
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero .hero-sub-text{
    width: 90%;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.9375rem; 
    margin: 0 auto;
}
.hero-call-to-action{
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 3.44rem;
    width: 35%;
    padding: .7rem;
    border: 1px solid #fff;
    border-width:thin;
    background: #ffffff17;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.hero-call-to-action a{
    color: #fff;
    font-size: 1.2rem;
}
.pointer{
    display: flex;
    align-items: center;
}
.hero-call-to-action svg{
    width: 1.8875rem;
    height: 1.8875rem;
    flex-shrink: 0;
}
.hire{
    display: flex;

    width: 53%;
    height: 1.7rem;
    padding: 1.6875rem 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4.125rem;
    background: #FD853A;
    transition: background 0.2s, color 0.2s;
}
.portfolio{
    display: flex;
    width: 47%;
    height: 1.7rem;
    padding: 1.68rem 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4.125rem;
    transition: background 0.2s, color 0.2s;
    
    
}
.hero-call-to-action .portfolio:hover {
    background: #FD853A;
    color: white;
}
.hero-call-to-action .portfolio:hover ~ .hire {
    background: transparent !important;
}


/* SNIPPET */


.band{
    margin-top: 0;
    width: 100vw;
}

/* CREDENTIALS */

.credentials{
    background-image: url(resources/icons/bg_top.png) !important ;
}

.cred-container{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 10rem;
    margin-bottom: 8rem;
    padding: 0 0;
    z-index: 10 !important;
}
.cred-card{
    order: 1;
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 4.66563rem;
    background: #2A2D3E;
    color: #fff;
    padding: 5% 3%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.cred_text_container{
    margin: auto auto;
    width: 100%;
}


.cred-card p{
    color: #6A8BF5;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}
.cred-card h3{
    color: var(--white, #FFF);
    font-family: 'Monument', 'Poppins';
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}
.cred-card svg{
    height:  50px !important;
    width: 50px;
}
.cred-card .svg{
    position: absolute;
    right: 23%;
    width: 100%;
    bottom: 2rem;
    transform: rotate(90deg);
}
.cred-info{
    width: 50%;
    order: 2;
}
.cred-info h2{
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 3.7rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.072rem;
    margin-bottom: 0 !important;    
}
.cred-info h2 span{
    color: #FD853A;
}
.cred-info p{
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.027rem;
    margin-bottom: 1rem;
}


/* PORTFOLIO */
.my-profile{
    border-top: 1px solid #ffffff44;
    border-width: thin;
    
}
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.7rem 0;

}
.profile-header h2{
    width: 85%;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.06rem;
}
.profile-header h2 span{
    color: #6A8BF5;
}
.profile-header a{
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.75rem;
    background: #FD853A;
    color: var(--white, #FFF);
    width: fit-content;

}

.portfolios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}
.port{
    border-radius: 1rem;
    border: 0.72px solid rgba(255, 255, 255, 0.20);
    background: #2A2D3E;
    backdrop-filter: blur(0.6773759126663208px);
    padding: 1rem;
    height: fit-content ;
    font-family: 'poppins';
}
.port h4{
    color: #fff;
    font-size: 1.296rem;
    font-style: normal;
    font-weight: 600;

}
.port p{
    color: var(--Orange-25, #FFFAF5);
    font-size: 0.6rem;
    font-weight: 400;
    margin-bottom: .8rem;
}
.port a{
    background: #FD853A;
    color: #ffffff;
    padding: 5px 1rem;
    border-radius: 5px;
    margin-top: 1rem !important;
    position: relative;
}

.port-img{
    width: 100% ;
    aspect-ratio: 3/2;
    
    border-radius: 1.25rem;
    margin: auto 0;
    background: var(--gradient, linear-gradient(207deg, rgba(0, 0, 0, 0.00) 47.41%, rgba(0, 0, 0, 0.36) 76.39%, rgba(0, 0, 0, 0.50) 89.23%));
    }
.port-img img{
    width: 100%;
    height: 14.148rem;

}




/* CONTACT */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact h2{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.06rem;
    width: 56%;
    text-align: center;
}
.contact h2 span{
    color: #FD853A;
}
.contact-form{
    width: 56%;
    margin-top: 3.7rem;
}
.form-inner{
    padding: 2rem;
    border: 1px solid #FFF;border-width: thin;
    width: 100%;
    border-radius: 1.7rem;
    position: relative;
    aspect-ratio: 2/1;
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:1rem 2.3rem;
    border: 1px solid #FFF;border-width: thin;
    border-radius: 1rem;
}

.email input, .email input:focus, .message textarea, .message textarea:focus{
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
}
.email input, .message textarea{
    min-width:86% !important;
    resize: none;
}
.email input::placeholder, .message textarea::placeholder{
    font-family: 'Urbanist';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.01875rem;
    color: #FFF;
}
.message {
    display: flex;
    align-content: center !important;
    gap: 1rem;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 5rem;
    
}

.message .img{
    background: #FFEAD5;
    height: 2rem ;
    margin-right: 10rem;
    margin-bottom: 1rem;
}
.form-inner{
    width: 100%;
}
.form-inner button{
   padding: 1.2rem 2.2rem;
   border-radius:4rem;
   background: #FD853A;
   color: #FFF;
   font-size: 1.2rem;
   font-weight: 500;
   position: absolute;
   right: 6.5% !important;
   border: none;
   bottom: 10%;
}

.contact .ratings{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.ratings span{
    display: flex;
    align-items: center;
    color: #ffffff8e;
    font-family: 'poppins';
    font-weight: 200 !important;
}
.ratings span svg{
    fill: #ffffff69 !important;
}






 .circle{
    border-radius: 55.32813rem;
    opacity: 0.2;
    background: #DE28CC;
    position: absolute;
    top: 10%;
    left: 50%;
    filter: blur(200px);
    width: 40%;
    aspect-ratio: 1;
    z-index: -1;
 }
 .circle2{
    border-radius: 55.32813rem;
    opacity: .4;
    background: #6A8BF5;
    position: absolute;
    top: 320%;
    left: 5%;
    filter: blur(100px);
    width: 40%;
    aspect-ratio: 1;
    z-index: -1;
 }

 .circle-footer1{
    border-radius: 55.32813rem;
    opacity: 0.2;
    background: #52A2F7;
    position: absolute;
    filter: blur(100px);
    width: 40%;
    aspect-ratio: 1;
    z-index: 10;
 }
 .circle-footer2{
    border-radius: 55.32813rem;
    opacity: .2;
    background: #DE28CC;
    position: absolute;
    filter: blur(100px);
    width:25%;
    aspect-ratio: 1;
    z-index: -10;
    left: 70%;
 }


 /* FOOTER */
 footer{
    position: relative;
    margin-top: 5rem;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.233);
    background-image: url(resources/icons/bg_top.png) !important ;
    background-size: cover;
    overflow-y: hidden;
    z-index: 10;
 }
footer .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    z-index: 5;
}
footer .title h3{
    background: linear-gradient(180deg, #6A8BF5 0%, #DE28CC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "poppins";
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    width: 60%;
    line-height: 6rem;
    padding: 1rem 0;
}
footer .title a{
    padding: 1rem 1.5rem;
    background: #FD853A;
    color: #FFF;
    border-radius: 4rem;
    font-size: 1.2rem;
}
.footer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-links {
    display: flex;
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    gap: 4rem;
    margin-bottom: 3rem;
}
.footer-links a{
    display: inline-flex;
    font-family: 'Poppins';     
    color: #FFF;
    font-weight: 200 !important;
}
.socials {
    display: flex;
    gap: 2.3rem;
}
.socials svg{
    background: #ffffff46;
    padding: 1rem;
    border-radius: 49.9%;
    line-height: 1rem;
    height: 4rem !important ;
    width: 4rem;
}
.socials svg:hover{
    background: #ffffff57;

}











 /* TESTIMONIALS */

 .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 2rem 0;
    /* background: url("resources/icons/bg top.png"); */
  }
  .testimonial-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6.7rem;
    color: #fff;
    font-size: 2rem;
  }
  
  .slider-wrapper, .snippet-wrapper {
    overflow: hidden;
    max-width: 2200px;
    margin: 0 0px 55px;
  }
  
  .card-list .card-item {
    height: auto;
    color: #fff;
    user-select: none;
    display: flex;
    border-radius: 1.875rem;
    border: 2px solid rgba(255, 255, 255, 0.11);
    background: #2a2d3e56;  
    backdrop-filter: blur(2px);
    z-index: 12 !important;
  }
  .card-container{
    width: 92% ;
    margin: auto auto; 
  }
  .card-container .rating,   .card-container p{
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .snippetcard{
    height: auto;
    color: #fff;
    user-select: none;
    display: flex;
    flex-direction: column;
    border-radius: 1.875rem;
    border: none !important;
    background: none !important;  
    backdrop-filter: none !important;
  }
  .test-card{
    padding: 1.5rem;
  }
  .snippetc-card{
    padding: 0;
  }
  .card-head{
    display: flex;
    align-items: center;
    gap: .8rem;
  }
  .card-head h4{
    font-size: .7rem;
  }
  .card-head p{
    font-weight: 300;
    margin-top: .7rem;
    font-family: 'Lexend';
    font-size: .6rem;
  }
  .card-item i{
    color: #FFD233;
    margin-top: .5rem;
    
  }
  .card-head img{
    width: 25%;
  }
  .card-item .blue{
    color: #6A8BF5;
    margin-top: .6rem;
    font-family: 'Lexend';
    font-size: .8rem;
    font-weight: 300;
    text-transform: capitalize;
  }
  .card-item .detail{
    margin-top: .6rem;
    font-family: 'Lexend';
    font-size: .8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: lowercase;
  }
  
  .card-list .card-item .user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
  }
  

  
  .slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 13px;
    width: 13px;
    opacity: 0.5;

  }
  
  .slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }
  
  .slider-wrapper .swiper-slide-button {
    color: #fff;
    margin-top: -55px;
    transition: 0.2s ease;
  }
  
  .slider-wrapper .swiper-slide-button:hover {
    color: #4658ff;
  }




.snippet{
    margin-top: 3rem;
}
.snippet-container img{
    width: 100%;
  }

.snippet-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
}
.frame{
    margin-inline: auto;
    width: 80%;
}




.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 4rem;
  background-color: #ffffff0a;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #ffffff75;
  text-align: center;
  line-height: 4rem;
}

.item1 {
  animation-delay: calc(30s / 8* (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}




  
  @media (max-width: 980px) {
    section, nav, footer{
        padding: 0 2.7rem !important;
    }
    body{
        overflow-x: hidden; 
        
    }
    .slider-wrapper {
      margin: 0 10px 40px;
    }
  
    .slider-wrapper .swiper-slide-button {
      display: none;
    }

    .hero-text h1{
        font-size: 4rem;
        }
    

    .hero .hero-sub-text{
        font-size: 1.4rem;
    }
    .hero-call-to-action{
        width: 60%;
    }
    .hero-call-to-action a{
        /* color: green; */
        font-size: 1.1rem;
    }
    .hero-call-to-action svg{
        width: 1.5875rem;
        height: 1.5875rem;

    }
    .cred-container{
        margin-top: 6rem;margin-bottom: 6rem;
        gap: 2rem;
 
    }
    .cred-card{
        width: 48%;
        border-radius: 4rem;

    }
    
    .cred-card p{
        font-size: 1.5rem;
    }
    .cred-card h3{
        font-size: 2.3rem;
    }
    .cred-card .svg{
        position: absolute;
    }
    .cred-info{
        width: 52%;
        order: 2;
    }
    .cred-info h2{
        font-size: 2.5rem;
        margin-bottom: 1rem;    
    }
    .cred-info p{
        font-size: .85rem;
    }
    .portfolios{
        grid-template-columns: 1fr 1fr;
    }
    .profile-header h2{
        font-size: 3rem;
        width: 75%;
    }
    .contact-form{
        width: 100%;
        max-width: 50rem;
        margin-top: 1.7rem;
        padding: 1rem;
    }
    .message{
        gap: 1rem;
    }
    .form-inner button{
        padding: .7rem 1.4rem;;
        font-size: 1rem;
     }
     .contact h2{
        font-size: 2rem;
        width: 90%;
        margin-top: 2rem;
    }



    

    footer .title h3{
        font-size: 3.5rem;
        width: 70%;
        line-height: 2.8rem;
    }
    footer .title a{
        background: #FD853A;
        color: #FFF;
        border-radius: 3rem;
        font-size: 1.2rem;
        width: 30%;
    }
    .footer-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-links {
        font-size: 1.2rem;
    }
    .footer-links a{
        font-weight: 200 !important;
    }
    .socials {
        gap: 1rem;
    }
    .socials svg{
        height: 3.5rem !important ;
        width: 3.5rem;
    }
    
  }

  @media (max-width: 668px) {
    nav {
        justify-content: center;
    }
    section, nav, footer{
        padding: 0 2rem !important;
    }
    .cred-info h2{
        text-align: center;
    }
    .cred-info p{
        font-size: .8rem;
        text-align: center;
    }
    .cred-container{
        margin-top: 0rem;margin-bottom: 4rem;
        flex-direction: column;gap: 3rem;
    }
    .cred-info{
        width: 80%;
        order: 1;
    }
    .cred-card{
        width: 71%;
        border-radius: 23.4;
        order: 2;
    }
  

    .cred-card p{
        font-size: 1.8rem;
        margin-bottom: .5rem;
    }
    .cred-card h3{
        font-size: 2.4rem;
        font-style: normal;
        margin-bottom: 1rem;
    }
    .hide-content{
        display: none !important;
    }
    .reveal-content{
        display: flex;
        justify-content: center;
    }
    .portfolios{
        grid-template-columns: 1fr ;
    }

    .contact-form{
        width: 100%;
        max-width: 40rem !important;
        margin-top: 1.7rem;
        padding: 1rem;
    }
    .message{
        gap: 1rem;
    }
    .form-inner button{
        padding: .7rem 1.4rem;;
        font-size: 1rem;
        right: 10%;
     }
     .contact h2{
        font-size: 2rem;
        width: 90%;
        margin-top: 2rem;
    }
    .email input::placeholder, .message textarea::placeholder{
        font-size: .8rem;
    }
    footer .title{
        flex-direction: column;
    }
    footer .title h3{
        font-size: 1.8rem;
        width: 100%;
        line-height: 1.8rem;
        text-align: center;
    }
    footer .title a, .my-profile a{
        padding: .5rem .7rem;
        border-radius: 3rem;
        font-size: 1rem;
        width: 70%;
    }
    .footer-links{
        font-size: 1rem;
        gap: 1rem;
    }

  }






  @media (max-width: 458px) {
    body{
        overflow-x: hidden !important; 
    }

    nav{
        padding: 3rem 2rem;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
     }
     nav a{color: white;text-decoration: none;
     }nav .logo a{font-size: 1.88rem;}
     .hero-text{
        margin-bottom: 0;
    }
    
    .hero-text h1{
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 3.5rem; 
        }
    

    .hero .hero-sub-text{
        width: 100%;
        font-size: 1rem;
        line-height: 1.4rem;
    }
    .hero-call-to-action{
     
        width: 80%;
        padding: .7rem;

    }
    .hero-call-to-action a{
        font-size: 1rem;
    }
   
    .hero-call-to-action svg{
        width: 1.4rem;
        height: 1.4rem;
    }
    

    .slider-wrapper {
      margin: 0 10px 40px;
    }
  
    .slider-wrapper .swiper-slide-button {
      display: none;
    }

    .profile-header,footer .title{
        flex-direction: column;
    }
    .profile-header h2, footer .title h3{
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
    .cred-container{
        flex-direction: column;
        margin-top: 3rem;gap: 3rem;
        margin-bottom: 3rem;
    }
    .cred-card{
        width: 100%;
        border-radius: 4rem;
        padding: 2rem 2.4rem;
        order: 2;
    }
  
    .cred-card p{
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }
    .cred-card h3{
        font-size: 2.2rem;
        font-style: normal;
    }
    .cred-card svg{bottom: 1rem; height: 40px; width: 40px;}.cred-info{width: 55%;padding-top: 1.5rem; margin-top: 2rem;}




   
    
    .portfolios .port{margin-bottom: 0rem !important;}
    .profile-header h2{width: 90%;font-size: 1.8rem;}.profile-header {padding: 2rem 0;}

    .cred-info{
        width: 100%;
        padding-top: 3rem;
        order: 1;
    }
    .cred-info h2{

        font-size: 1.8rem;
        margin-bottom: 1rem;
        text-align: center;    
    }
    
    .cred-info p{

        font-size: .9rem;
        margin-bottom: 1rem;
    }




      .snippetcard{margin-right: -.5rem !important;}

    .testimonial-header{
        padding: 3rem 0 2rem 0;
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
      .card-list .card-item{
        padding: 1rem;
        border-radius: 25px;
      }
      .card-head{
        gap: .7rem;
      }
      .card-head p{
        margin-top: .6rem;
      }
      .card-item i{
        margin-top: .8rem;
      }
      .card-item .blue{
        margin-top: .8rem;
        font-size: .9rem;
      }
      .slider-wrapper {
        margin: 0 0 30px;
      }
      
      .card-item .detail{
        margin-top: .8rem;
        font-size: .8rem;
      }






 .contact h2{
        font-size: 1.5rem;
        width: 100%;
        margin-top: 2rem;
        font-family: 'poppins';
        letter-spacing: normal;
    }
   
    .form-inner{
        padding: 1rem;
    }
    .email{
        padding:.4rem .8rem;
  }
  .email input::placeholder, .message textarea::placeholder{
    font-size: .8rem;
}
.message textarea::placeholder{
    padding-top: 7px;
}
.message {
    width: 100%;
    padding-top: 1rem;
    height: 5rem;
    gap: .4rem;
    display: flex;
     align-items: center;  
    
}

.message img{
    padding: .2rem;
    height: 2rem;
    
}
.form-inner button{
   padding: .5rem .8rem;;
   font-size: .8rem;
   right: 15%;
}





.contact .ratings{
    margin-top: 1rem;

    justify-content: space-between;
}
.ratings span{
    font-size: .4rem;
}
.ratings span svg{
    fill: #ffffff69 !important;
}

/* FOOTER */
footer{
    margin-top: 2rem;
    padding: 2rem 0;
 }
footer .title{margin-bottom: 1rem;}
footer .title h3{
    font-size: 1.8rem;
    width: 100%;
    line-height: 1.8rem;
}
footer .title a, .my-profile a{
    padding: .5rem .7rem;
    border-radius: 3rem;
    font-size: 1rem;
    width: 90%;
}
.footer-inner{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.footer-links {
    display: flex;
    color: #FFF;
    font-size: .8rem;
    font-style: normal;
    gap: .8rem;
    margin-bottom: 1rem;
    
}
.footer-links a{
    font-weight: 200 !important;
}
.socials {
    gap: .8rem;
}
.socials svg{
    height: 3rem !important ;
    width: 3rem;
    
}



.snippet-container{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    margin-top: 2rem;

}
.frame{
    margin-inline: auto;
    width: 70%;
}





.circle{
    border-radius: 55.32813rem;
    opacity: 0.3;
    background: #DE28CC;
    position: absolute;
    top: 10rem;
    left: 30%;
    filter: blur(100px);
    width: 15rem;
    aspect-ratio: 1;
    z-index: -1;
 }
 .circle2{
    top: 320%;
    left: 5%;

 }

 .circle-footer2{
    border-radius: 55.32813rem;
    opacity: 1;
    background: #DE28CC;
    position: absolute;
    filter: blur(80px);
    width:20%;
    aspect-ratio: 1;
    z-index: -10;
    top: -10%;
 }
 .circle-footer1{
    border-radius: 55.32813rem;
    opacity: 0.7;
    background: #52A2F7;
    position: absolute;
    filter: blur(80px);
    width: 20%;
    aspect-ratio: 1;
    z-index: -10;
     top: 10%;
 }

}