{% extends 'base.html' %}
{% block content%}






<div class="hero-call-to-action">
    <div class="portfolio">
        <a href="">Prtfolio</a>
    </div>
    <div class="hire" style="display: flex;align-items: center;">
        <a href="" class="pointer">Hire me</a>
        <svg width="47" height="48" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="icon / outlined / directions / straight arrows / up right">
                <path id="Vector" d="M13.975 33.625L33.225 14.375" stroke="white" stroke-width="2.2"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path id="Vector_2" d="M13.975 14.375H33.225V33.625" stroke="white" stroke-width="2.2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </g>
        </svg>
    </div>
</div>


<section class="my-profile portfolio_page" style="border-top: none !important;">
    <div class="profile-header">
        <h2 style="text-align: center; ">Lets have a look at my <span>Portfolio</span></h2>
        <!-- <a href="" class="hide-content">See All</a> -->
    </div>

    <div class="portfolios">
        {% for project in project %}

        <div class="port1 port" style="padding: 1rem; background:#223677;color: #fff;border-radius: 1.4rem;">
            <img class="port-img" src="{{project.cover_image.url}}" alt="">
            <h1 style="margin: 1rem 0;"><a href="{% url 'project_detail' project.id %}">{{project.name}}</a></h1>
            <p>{{project.description}}</p>
        </div>

        {% endfor %}
        <a href="" class="reveal-content" style="width: 40%; margin: 0 auto;">See All</a>
    </div>

</section>



{% endblock%}